
<AuthLayout.layout title="Create account">
  <.form let={f} for={@changeset}  class="space-y-4" action={Routes.user_registration_path(@conn, :create)}>
    <%= if @changeset.action do %>
      <TailwindAlert.error 
        message="Oops, something went wrong! Please check the errors below."} 
      />
    <% end %>

    <TailwindForm.email_input form={f} />
    <TailwindForm.password_input form={f} />

    <TailwindButton.primary type="submit" size={:medium}>Register</TailwindButton.primary>  
  </.form>

  <p class="pt-2">
    <%= link "Register", to: Routes.user_registration_path(@conn, :new) %> |
    <%= link "Log in", to: Routes.user_session_path(@conn, :new) %>
  </p>
</AuthLayout.layout>