<div>
<div id="map_a"/>
asasasa
<script>
setTimeout(() => {
	mapboxgl.accessToken = 'pk.eyJ1IjoibWFyY2lua29wYWN6IiwiYSI6ImNrenlteHJvaTAxdWUzY254ZHppMG5nN3QifQ.U3tuBCRNFosiS3buKpUxnQ';
	const map = new mapboxgl.Map({
		container: 'map_a', // container ID
		style: 'mapbox://styles/mapbox/streets-v11', // style URL
		center: [-96, 37.8], // starting position
		zoom: 3 // starting zoom
	});
	
	map.addControl(
	new mapboxgl.GeolocateControl({
		positionOptions: {
			enableHighAccuracy: true
		},
			trackUserLocation: true,
			showUserHeading: true
		})
	);
}, 5000)

</script>
</div>

