<div class="flex-1 flex flex-col py-1.5 pb-4 overflow-y-auto">
  <div class="flex items-center flex-shrink-0 px-4">
    <BrandStyle.logo />
  </div>
  
  <nav class="mt-5 flex-1" aria-label="Sidebar">
    <div class="px-2 space-y-1">
      <%= live_patch to: Routes.home_index_path(@socket, :index), class: "bg-gray-200 text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
        <HeroiconOutline.home class="text-gray-400 group-hover:text-gray-500 mr-3 h-6 w-6" />
         Home
      <% end %>
      
      <%= live_patch to: Routes.tree_index_path(@socket, :index), class: "bg-gray-200 text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
        <HeroiconOutline.globe class="text-gray-400 group-hover:text-gray-500 mr-3 h-6 w-6" />
         Trees
      <% end %>
      
      <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
        <HeroiconOutline.calendar class="text-gray-400 group-hover:text-gray-500 mr-3 h-6 w-6" />
        Learning
      </a>

      <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md">
        <HeroiconOutline.user_group class="text-gray-400 group-hover:text-gray-500 mr-3 h-6 w-6" />
        Contractors
      </a>
    </div>
  </nav>
</div>


