<main class="h-full w-full">
  <%
    info = get_flash(@conn, :info)
    error = get_flash(@conn, :error)
  %>
  <%= if info do %>
    <TailwindAlert.info 
      message={get_flash(@conn, :info)} 
      class="absolute w-full" 
    />
  <% end %>

  <%= if error do %>
    <TailwindAlert.error 
      message={get_flash(@conn, :error)} 
      class="absolute w-full" 
    />
  <% end %>
  <%= @inner_content %>
</main>
                                      