<AuthLayout.layout title="Reset password">
  <.form let={f} for={@changeset} class="space-y-4" action={Routes.user_reset_password_path(@conn, :update, @token)}>
    <%= if @changeset.action do %>
      <TailwindAlert.error 
        message="Oops, something went wrong! Please check the errors below."} 
      />
    <% end %>

    <TailwindForm.password_input form={f} field={:password} label="New password" />
    <TailwindForm.password_input form={f} field={:password_confirmation} label="Confirm new password"/>

    <TailwindButton.primary type="submit" size={:medium}>Reset password</TailwindButton.primary>
  </.form>

  <p class="pt-2">
    <%= link "Register", to: Routes.user_registration_path(@conn, :new) %> |
    <%= link "Log in", to: Routes.user_session_path(@conn, :new) %>
  </p>
</AuthLayout.layout>
