<AuthLayout.layout title="Forgot your password?">

<.form let={f} for={:user} class="space-y-4" action={Routes.user_reset_password_path(@conn, :create)}>
  <TailwindForm.email_input form={f} />

  <div class="py-2">
    <TailwindButton.primary type="submit" size={:medium}>
      Send instructions to reset password
    </TailwindButton.primary>
  </div>
</.form>

<p class="pt-2">
  <%= link "Register", to: Routes.user_registration_path(@conn, :new) %> |
  <%= link "Log in", to: Routes.user_session_path(@conn, :new) %>
</p>
</AuthLayout.layout>