<.live_component 
  module={CityTreesWeb.DashboardLive.DashboardLayout} 
  id="dashboard_layout"
  left_nav={@left_nav}
>
  <split-panel>
    <div slot="map-panel">
      <.live_component 
        module={CityTreesWeb.MapLive.MapboxMap} 
        id="mapbnox_map"
      />
    </div>

    <div slot="content-panel">
      <.live_component 
        module={CityTreesWeb.TreeLive.TreeList} 
        id="tree_list"
        trees={@trees}
      />
    </div>
  </split-panel>

  <%= if @live_action in [:new, :edit] do %>
    <.modal return_to={Routes.tree_index_path(@socket, :index)}>
      <.live_component
        module={CityTreesWeb.TreeLive.TreeForm}
        id={@tree.id || :new}
        title={@page_title}
        action={@live_action}
        tree={@tree}
        return_to={Routes.tree_index_path(@socket, :index)}
      />
    </.modal>
  <% end %>
</.live_component>














